*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #E91E63;
    font-family: 'Poppins', sans-serif;
}

.bienvenida{
    color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 30px;
}

.registro {
    margin: 15px;
}

.inputName{
    padding: 8px;
    margin: 10px;
    border: 2px #212121 solid;
    border-radius: 10px;
}
.tareas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #212121;
    padding: 10px;
}

.tareas h2{
    font-size: 20px;
    margin: 30px 0;
    
}


.listado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 3px #212121 solid;
    border-radius: 20px;
    max-width: 600px;
}

.item{
    list-style-type: none;
    padding: 5px;
}

.tarea{
    display: flex;
}


.contenedor{
    position: relative;
}

.hecho{
    background: #F8BBD0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid #212121;
    border-radius: 30px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    z-index: 999;
}


.completo{
    background-color: #C2185B;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 5px solid #212121;
    border-radius: 30px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.btn{
    background-color: #FFC107;
    font-family: 'REM', sans-serif;
    padding: 5px;
    border-radius: 20px;

}

.tareaHecho{
    text-transform: uppercase;

}

.verde{
    color: #FFC107;
    text-decoration: line-through;
}

.oculto{
    display: none;
}