*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #E91E63;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.welcoming{
    color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 30px;
}

.login {
    margin: 15px;
}

.inputName{
    padding: 8px;
    margin: 10px;
    border: 2px #212121 solid;
    border-radius: 10px;
}

.tasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #212121;
    padding: 10px;
}

.tasks h2{
    font-size: 20px;
    margin: 30px 0;
    
}


.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 3px #212121 solid;
    border-radius: 20px;
    max-width: 600px;
}

.item{
    list-style-type: none;
    padding: 5px;
}

.task{
    display: flex;
}

.checkbox{
    margin: 10px;
    height: 20px;
    width: 20px;
}

.container{
    position: relative;
}

.done{
    background: #F8BBD0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid #212121;
    border-radius: 30px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    z-index: 999;
}


.complete{
    background-color: #C2185B;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 5px solid #212121;
    border-radius: 30px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.btn{
    background-color: #FFC107;
    font-family: 'REM', sans-serif;
    color: #212121;
    padding: 5px;
    border-radius: 20px;

}

.task-done{
    text-transform: uppercase;

}

.green{
    color: #FFC107;
    text-decoration: line-through;
}

.hidden{
    display: none;
}