*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/bground.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #212121;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.section-1 {
    display: flex;
    justify-content: center;
}

.welcoming{
    background-color: rgba(21, 21, 21, 0.4);
    border-radius: 10px;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 30px;
    max-width: 600px;
}

.login {
    margin: 15px;
}

.inputName{
    padding: 5px;
    margin: 10px;
    border: 0px #212121 solid;
    border-radius: 5px;
}

.tasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #212121;
    padding: 10px;
}

.list h2{
    font-size: 20px;
    margin: 10px 0;
}


.list{
    color: #fafafa;
    display: flex;
    background-color: rgba(21, 21, 21, 0.4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 0px #212121 solid;
    border-radius: 20px;
    max-width: 600px;
    margin-bottom: 40px;
}

.item{
    list-style-type: none;
    padding: 5px;
}

.task{
    display: flex;
}

.checkbox{
    margin: 10px;
    height: 20px;
    width: 20px;
}

.container{
    position: relative;
}

.done{
    color: #fafafa;
    font-size: 20px;
    background: #212121;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0px solid #212121;
    border-radius: 30px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    z-index: 999;
}


.complete{
    font-size: 17px;
    background-color: #FFC107;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 5px solid #fafafa;
    border-radius: 30px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.complete p{
    margin-bottom: 10px;
}

.btn{
    background-color: #fafafa;
    font-family: 'REM', sans-serif;
    color: #212121;
    padding: 5px;
    border-radius: 10px;
}

.task-done{
    text-transform: uppercase;
    color: #FFC107;
    margin-bottom: 10px;
}

.green{
    color: #FFC107;
    text-decoration: line-through;
}

.hidden{
    display: none;
}